*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
		
background-attachment: fixed;
}

.form-registro{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background-color: white;
	border-radius: 10px;
	margin-top: 5%;
}


.titulo{
	background-color: #035096;
	color: white;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 5px solid black;
}

.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.medio{
	width: 48%;
}

.completo{
	width: 100%;
}

.btn-enviar{
	background-color: #035096;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;

}

.btn-enviar:active{
	transform: scale(1.05);
}

.link-enviar{
	width: 100%;
	margin: 7px;
	text-align: center;
	font-size: 14px;
}